<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.first.app.mapper.DeptMapper">

    <select id="selectAll" resultType="com.first.app.domain.DeptDTO">
        select * from dept
    </select>

    <select id="selectByDeptno" resultType="com.first.app.domain.DeptDTO">
        select * from dept where deptno=#{deptno}   <!-- 파라미터 하나니까 {deptno} 어떠한 이름 가능 -->
    </select>


    <insert id="insertDept" parameterType="com.first.app.domain.DeptDTO">
        insert into dept values (#{deptno}, #{dname}, #{loc})   <!-- 파라미터타입 DeptDTO의 getter 메서드 호출-->
    </insert>

    <update id="updateDept" parameterType="com.first.app.domain.DeptDTO">
        update dept set dname=#{dname}, loc=#{loc} where deptno=#{deptno}
    </update>

    <delete id="deleteByDeptno">
        delete from dept where deptno=#{deptno}
    </delete>


    <!-- //////////////////////////////////////// -->
    <select id="selectByOption" parameterType="com.first.app.domain.DeptSearchOption" resultType="com.first.app.domain.DeptDTO">
        select * from dept
        <where> <!-- 검색 안할 수도 있으니까 -->
            <if test="searchType != null and keyword != null">
                <if test="searchType == 'dname'">
                    <!--dname like concat('%', #{keyword}, '%')-->
                    <include refid="searchDname"/>
                </if>
                <if test="searchType == 'loc'">
                    loc like concat('%', #{keyword}, '%')
                </if>
            </if>
        </where>
    </select>

    <sql id="searchDname">
        dname like concat('%', #{keyword}, '%')
    </sql>

    <sql id="searchLoc">
        loc like concat('%', #{keyword}, '%')
    </sql>


    <select id="selectByDeptnos" parameterType="list" resultType="com.first.app.domain.DeptDTO">
        select * from dept
        <where>
            <if test="list != null and list.size != 0">
                deptno IN <!-- (10, 20, 30) 이런식으로 -->
                <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
</mapper>