<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <style>
    .title{
      color: red;
      font-weight: bold;
      font-style: italic;
    }
  </style>
</head>
<body>
<span th:text="${list}"></span> <!--/* [aaa, bbb, ccc, ddd] */-->
<hr>
<h4>  [[${list}]]</h4>  <!--/* [aaa, bbb, ccc, ddd] */-->

<hr>
<h1>객체 출력하는 표현식</h1>
<ul>
  <li>부서 이름 : [[${dept.dname}]]</li>
  <li th:text="${dept.dname}"></li> <!--/* 똑같이 나온다 */-->
  <li>부서이름 : <span th:text="${dept.dname}"></span></li>
  <li th:text="${'부서이름 : ' + dept.dname}"></li>  <!--/* 문자열+문자열 연산 */-->
</ul>

<hr>
<h1>List 객체 접근</h1>
<ul>
  <li>첫번째 부서 : [[${deptList[0]}]]</li>  <!--/* DeptDTO(deptno=10, dname=ACCOUNTING, loc=NEW YORK) */-->
  <li>첫번째 부서의 이름 : [[${deptList[0].dname}]]</li>
  <li>첫번째 부서의 이름 : <span th:text="${deptList[0].dname}"></span></li>
</ul>

<hr>
<h1>Map 객체 접근</h1>
<ul>
  <li>10번 부서 : [[${deptMap['10']}]]</li>  <!--/* DeptDTO(deptno=10, dname=ACCOUNTING, loc=NEW YORK) */-->
  <li>20번 부서 : [[${deptMap['20']}]]</li>
  <li>10번 부서 이름 : [[${deptMap['10'].dname}]]</li>
  <li>20번 부서 이름 : [[${deptMap['20'].dname}]]</li>
  <li>20번 부서 이름 : <span th:text="${deptMap['20'].dname}"></span></li> <!--/* span이 inline이니까 썼어 */-->
</ul>

<hr>
<h1>지역 변수 선언과 활용</h1>
<div th:with="item=${deptList[3]}">
  <ul>
    <li>부서번호 : <span th:text="${item.deptno}">0</span></li>
    <li>부서이름 : <span th:text="${item.dname}">text</span></li>
    <li>부서위치 : <span th:text="${item.loc}"></span></li>
  </ul>
</div>

<hr>
<h1>param, session 속성</h1>
<ul>
  <li>요청 파라미터 type = <span th:text="${param.type}"></span></li>
  <li>세션의 속성값 loginData : <span th:text="${session.loginData}"></span> </li>
</ul>

<hr>
<h1>LocalDateTime 객체의 포맷팅</h1>
<ul>
  <li>현재 시간 출력 : <span th:text="${localDateTime}"></span></li>  <!--/* 2022-12-06T16:33:38.412944200 */-->
  <li>yyyy-MM-dd HH:mm:ss : <span th:text="${#temporals.format(localDateTime, 'yyyy. MM. dd. HH:mm:ss')}"></span></li>
  <li>yyyy-MM-dd/a hh:mm : <span th:text="${#temporals.format(localDateTime, 'yyyy-MM-dd/a hh:mm')}"></span> </li>  <!--/* 2022-12-06/오후 04:33 */-->
</ul>

<hr>
<h1>uri 경로 표현 : @{}</h1>
<ul>
  <li><span th:text="@{/dept/list}"></span></li>  <!--/* /dept/list */-->
  <li><span th:text="@{/dept/list(searchType=${'dname'}, keyword=${'AC'})}"></span></li>  <!--/* /dept/list?searchType=dname&keyword=AC */-->
  <li><span th:text="@{/dept/list/{param1}(param1=${10})}"></span></li> <!--/* /dept/list/10 */-->
  <li><a th:href="@{/dept/list}">Link1</a></li>
  <li><a th:href="@{/dept/list(searchType=${'dname'}, keyword=${'AC'})}">Link2</a></li>
  <li><a th:href="@{/dept/list/{param1}(param1=${10})}">Link3</a></li>
</ul>

<hr>
<h1>연산자</h1>
<ul>
  <li> 10 + 20 = <span th:text="${10+20}"></span></li>
  <li> 10 > 20 = <span th:text="${10>20}"></span></li>  <!--/* false */-->
  <li> 10 % 2 == 0 ? '짝수' : '홀수' = <span th:text="${10 % 2 == 0 ? '짝수' : '홀수'}"></span></li>


  <li>
    ${data}?:'데이터가 없습니다.' => <span th:text="${data}?: '데이터가 없습니다.'"></span><br> <!--/* 값이 있으니까 DATA123 값 나옴 */-->
    ${nullData}?:'데이터가 없습니다.' => <span th:text="${nullData}?: '데이터가 없습니다.'"></span> <!--/* NULL이라 없다고 나옴 */-->
  </li>
  <li>
    ${data}?:_ => <span th:text="${data}?:_">데이터가 없습니다.</span><br>  <!--/* 값이 있으니까 DATA123 값 나옴 */-->
    ${nullData}?:_ => <span th:text="${nullData}?:_">데이터가 없습니다.</span>  <!--/* 기본값인 '데이터 없다' 나옴 */-->
  </li>
</ul>

<hr>
<h1>속성의 추가 / 변경</h1>
<ul>
  <li><span>안녕하세요</span></li> <!--/* 얘 빼고 다 style 적용되어서 나옴 */-->
  <li><span th:class="${'title'}">안녕하세요</span></li> <!--/* <span class="title"> */-->
  <li><span class="sub" th:class="${'title'}">안녕하세요</span></li> <!--/* <span class="title"> */-->
  <li><span class="sub" th:attrappend="class=${' title'}">안녕하세요</span></li> <!--/* <span class="sub title"> */-->
  <li><span class="sub" th:attrprepend="class=${' title '}">안녕하세요</span></li> <!--/* <span class="title sub"> */-->
  <li><span class="sub" th:classappend="${'title'}">안녕하세요</span></li> <!--/* <span class="sub title"> */-->
  <li> checked </li>
  <li><input type="checkbox" name="aaa" th:checked="true"></li> <!--/* 논리값에 따라서 체크처리 됨 */-->
  <li><input type="checkbox" name="aaa" th:checked="false"></li>
  <li><input type="checkbox" name="aaa" th:checked="${10>1}"></li>
</ul>

<hr>
<h1>조건식</h1>
<div th:with="age=${15}">
  <ul>
    <li><span th:text="${age}"></span></li>
    <li>  <!--/* 밑에서 미성년 하나 값만 나옴 */-->
      <span th:text="성년" th:if="${age > 19}"></span>
      <span th:text="미성년" th:unless="${age > 19}"></span> <!-- if else 개념이 없음 -->
    </li>
    <li th:switch="${age}">
      <span th:case="15">15살</span>
      <span th:case="20">20살</span>
      <span th:case="25">25살</span>
      <span th:case="*">기타</span> <!-- age를 30살이라고 정의하면 default값인 기타가 나옴 -->
    </li>
  </ul>
  <!--분기 / 반복-->
  <th:block th:if="${age > 19}">  <!-- 같은 조건이니까 묶자 -->
    <div>성인입니다.</div>
    <div>음주가 가능합니다.</div>
    <div>술집에 출입이 가능합니다.</div>
  </th:block>
</div>

<hr>
<h1>반복문</h1>
<h3>부서 리스트</h3>
<table border="1">
  <tr>
    <th>부서번호</th>
    <th>부서이름</th>
    <th>부서위치</th>
  </tr>
  <tr th:each="dept : ${deptList}">
    <td th:text="${dept.deptno}"></td>
    <td>[[${dept.dname}]]</td>
    <td th:text="${dept.loc}"></td>
  </tr>
</table>

<table border="1">
  <tr>
    <th>index</th>
    <th>count</th>
    <th>부서번호</th>
    <th>부서이름</th>
    <th>부서위치</th>
  </tr>
  <tr th:each="dept, deptStat : ${deptList}">
    <td th:text="${deptStat.index}"></td>
    <td th:text="${deptStat.count}"></td>
    <td th:text="${dept.deptno}"></td>
    <td>[[${dept.dname}]]</td>
    <td th:text="${dept.loc}"></td>
  </tr>
</table>

<table border="1">
  <tr>
    <th>index</th>
    <th>count</th>
    <th>부서번호</th>
    <th>부서이름</th>
    <th>부서위치</th>
  </tr>
  <tr th:each="dept, deptStat : ${deptList}" th:object="${dept}">
    <td th:text="${deptStat.index}"></td>
    <td th:text="${deptStat.count}"></td>
    <td th:text="*{deptno}"></td>
    <td th:text="*{dname}"></td>
    <td th:text="*{loc}"></td>
  </tr>
</table>

<table border="1">
  <tr>
    <th>부서번호</th>
    <th>부서이름</th>
    <th>부서위치</th>
  </tr>
  <th:block th:each="dept : ${deptList}"> <!-- 블럭 안에 추가적으로 다른 내용 넣어야할 때 th:block 씀 -->
  <tr>
    <td th:text="${dept.deptno}"></td>
    <td>[[${dept.dname}]]</td>
    <td th:text="${dept.loc}"></td>
  </tr>
  </th:block>
</table>

<hr>
<h1>모듈화 : insert</h1>
<div th:insert="~{fragment/footer :: copy}"></div>  <!--/* <div><footer>footer</footer></div> */-->
<div th:insert="fragment/footer :: copy"></div> <!--/* <div><footer>footer</footer></div> */-->

<div th:replace="fragment/footer :: copy"></div>  <!--/* <footer> footer </footer> */-->

<div th:replace="fragment/footer :: copyParam('전화번호 : 080-1111-1111', '이메일 : king@gmail.com')"></div>

<script th:inline="javascript">
  let deptno = [[${deptList[0].deptno}]]
  let dname = [[${deptList[0].dname}]]
  let loc = [[${deptList[0].loc}]];

  // 객체 => JSON 변환되어 처리됨
  let dept = '[[${dept}]]'
  let deptList = '[[${deptList}]]'

  let deptObj = JSON.parse(dept)
  let deptListObj = JSON.parse(deptList)

  console.log('deptno', deptno)
  console.log('dname', dname)
  console.log('loc', loc)

  console.log('deptObj', deptObj)
  console.log('deptListObj', deptListObj)
</script>
</body>
</html>