div.review fieldset{
    display: inline-block;
    direction: rtl; /* Right-To-Left 별 선택 방향 바로잡기 */
    border: 0;
}

div.review input[type=radio]{
    display: none;  /*라디오 박스 감춤*/
}

div.review label{
    font-size: 2em;
    color: transparent;
    text-shadow: 0 0 0 #f0f0f0;
}

div.review label:hover{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

/* ~ = 특정 태그 다음에 오는 모든 형제들 */
div.review label:hover ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

div.review input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
